<h1 class="title is-3 has-text-centered">Password Generator</h1>

<div class="box p-5">
  <!-- Length Input -->
  <div class="field">
    <label class="label">Length</label>
    <div class="control">
      <input class="input" type="number" (input)="onChangeLength($event)" [(ngModel)]="length" />
    </div>
  </div>

  <!-- Use Letters -->
  <div class="field">
    <label class="checkbox">
      <input type="checkbox" (change)="onChangeLetters()" />
      Use Letters
    </label>
  </div>

  <!-- Use Numbers -->
  <div class="field">
    <label class="checkbox">
      <input type="checkbox" (change)="onChangeNumbers()" />
      Use Numbers
    </label>
  </div>

  <!-- Use Symbols -->
  <div class="field">
    <label class="checkbox">
      <input type="checkbox" (change)="onChangeSymbols()" />
      Use Symbols
    </label>
  </div>

  <!-- Buttons -->
  <div class="field is-grouped mt-4">
    <!-- <div class="control">
      <button class="button is-light" type="button">Button</button>
    </div> -->
    <div class="control">
      <button class="button is-primary" [disabled]="!(includeLetters || includeNumbers || includeSymbols)"
        (click)="onButtonClick()" type="button">
        Generate&nbsp;<i class="fa-solid fa-repeat"></i>
      </button>
    </div>
  </div>
</div>

<!-- Output -->
<div *ngIf="showMyPass; else empty" class="notification is-info p-5">
  <p class="has-text-weight-semibold">{{ title }}</p>
  <div class="field">
    <div class="control">
      <input class="input is-info" type="text" [value]="getPassword()" readonly />
    </div>
  </div>
</div>


<ng-template #empty>
  <p class="has-text-grey-light">There is no password</p>
</ng-template>


<ng-container *ngFor="let item of courses">
  <ul>
    <li>{{item}}</li>
  </ul>
</ng-container>
